version: "3.9"

services:
  n8n:
    image: n8nio/n8n
    restart: unless-stopped
    ports:
      - "127.0.0.1:5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=CHANGEMEyourStrongPassword123
      - N8N_SECURE_COOKIE=true
      - GENERIC_TIMEZONE=Africa/Casablanca
    volumes:
      - n8n_data:/home/node/.n8n
      - ./media:/data/media
    networks:
      - internal

volumes:
  n8n_data:

networks:
  internal:
